@using AspNetCoreCS.Models
@model Customer

@{
    int age = 27;
    //string value = "";
    //if(age > 18)
    //{
    //    value = "Yaşı 18'den büyük";
    //}
    //else
    //{
    //    value = "Yaşı 18'den küçük";
    //}

    //int Calculate(int number1, int number2)
    //{
    //    return number1 + number2;
    //}
    //var result = Calculate(2, 54);

    List<string> names = new List<string>() { "Yavuz", "Ahmet", "Ayşe", "Banu" };

}



<h2>
    Durum = @(age>18 ? "Yaşı 18'den büyük" : "Yaşı 18'den küçük")
</h2>

@foreach (var item in names)
{
    <p>
        @item
    </p>
}

<p>@ViewBag.Name</p>  

<p>@ViewData["Name"]</p>

<p>@Model.FirstName @Model.LastName</p>

